bitcoin.active=1
bitcoin.mainnet=1
bitcoin.node=bitcoind
externalip={{lnd_externalip}}
alias={{alias}}
bitcoind.rpcuser={{rpcuser}}
bitcoind.rpcpass={{rpcpassword}}
bitcoind.zmqpubrawblock=tcp://127.0.0.1:18501
bitcoind.zmqpubrawtx=tcp://127.0.0.1:18502
rpclisten=0.0.0.0:10009
